body {
    margin: auto;
    width: 45em;
    padding: 0 0 1em 0;
    line-height: 1em;
    color: #6c3c17;
    font-family: Arial;
    background-color: #ffba78;
}

h1 {
    font-size: 2em;
}

section.login {
    float: right;
    padding: 0 2em;
}

section.main {
    margin: 1em auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 2em;
    background-color:#eeeeee;
    -webkit-box-shadow: 0 0 1em 0.5em;
    -moz-box-shadow: 0 0 1em 0.5em;
    box-shadow: 0 0 1em 0.5em;
}

#login-logo {
    float: right;
    left: 0;
}

form {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

li.form-item {
    padding: 0.25em 0;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0.25em 1em;
    border: 0.1em solid #6c3c17;
    background: none;
    box-shadow: none;
    color: #6c3c17;
}

input[type=submit] {
    border: 0;
    border-radius: 0em;
    background-color: #ee7b23;
    font-weight: bold;
}

.border {
    border-radius: 0.2em;
}

#errorText {
    color: #ff0000;
    font-size: 0.8em;
}