{% extends "base.html" %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/settings.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/new-account.js') }}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<body class="login">
    <section class="main border">
        <section class="middle-col">
            <h1>Welcome to Skitter!</h1>
            <p>Are you sure you want to create an account?</p>
            <button id="accept" type="button">Duh!</button>
            <button id="deny" type="button">Heck No!</button>
        </section>
    </section>
</body>
{% endblock %}