{% extends "internal.html" %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}" type="text/javascript"></script>
{% endblock %}

{% block internal_page %}
<aside class="user-sidebar">
    <img src="{{ pic }}" alt="Profile Picture" height=64 width=64 id="main-profile-pic" />
    <a class="username main-username" href="/profile/{{ username }}">@{{ username }}</a>
    <p class="display-name">{{ fname }} {{ lname }}</p>
</aside>
<section class="middle-col">
    <section class="skits"></section>
</section>
{% endblock %}